.gradle
/local.properties
/.idea
.DS_Store
/captures
*.log
.cxx
/keystore.properties
/app/build
/app/fdroid
/app/google
/libtremotesf/build
/3rdparty/openssl/build-*
/3rdparty/openssl/install
/3rdparty/qt/build-*
/3rdparty/qt/install-*
/gradle-plugin/build
/common/build
/rpc/build
