*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
*.log
app/.cxx
app/libs
app/fdroid
app/google
3rdparty/openssl/openssl
3rdparty/openssl/build-*
3rdparty/openssl/install-*
3rdparty/qt/build-*
3rdparty/qt/install-*
3rdparty/qt/qtbase

