<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.equeim.tremotesf">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.VIBRATE" android:maxSdkVersion="18"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".Application"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Splash"
        android:extractNativeLibs="false"
        tools:targetApi="m">

        <activity
            android:name=".NavigationActivity"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:mimeType="application/x-bittorrent"/>
            </intent-filter>

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:host="*"/>
                <data android:mimeType="*/*"/>
                <data android:pathPattern=".*\\.torrent"/>
                <data android:pathPattern=".*\\..*\\.torrent"/>
                <data android:pathPattern=".*\\..*\\..*\\.torrent"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.torrent"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.torrent"/>
            </intent-filter>

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="magnet"/>
            </intent-filter>
        </activity>

        <service android:name=".ForegroundService"/>
    </application>
</manifest>