name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [master]
  pull_request:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    container: fedora:latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Install host dependencies
        run: |
          dnf -y --setopt=install_weak_deps=False install git gcc gcc-c++ make patch cmake ninja-build ccache 'pkgconfig(zlib)' 'cmake(double-conversion)' 'pkgconfig(libb2)' 'pkgconfig(libpcre2-posix)' 'cmake(Qt6HostInfo)' 'cmake(Qt6CoreTools)' 'cmake(Qt6WidgetsTools)' java-11-openjdk-devel unzip curl tar gzip which perl perl-FindBin perl-File-Basename

      - name: Check out
        uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0

      - name: Restore Android SDK from cache
        id: android-sdk-cache
        uses: equeim/cache@v2-altered
        with:
          path: android-sdk
          key: android-sdk-${{ runner.os }}-${{ hashFiles('**/*.gradle.kts', 'gradle-plugin/**/*.kt') }}
          restore-keys: android-sdk-${{ runner.os }}-
          save-cache: ${{ github.event_name == 'push' }}

      - name: Set up Android SDK
        if:  steps.android-sdk-cache.outputs.cache-restored == 'false'
        run: |
          curl -o cmdline-tools.zip https://dl.google.com/android/repository/commandlinetools-linux-8092744_latest.zip
          unzip cmdline-tools.zip
          rm cmdline-tools.zip
          mkdir -p android-sdk/cmdline-tools
          mv cmdline-tools android-sdk/cmdline-tools/latest
          yes | ./android-sdk/cmdline-tools/latest/bin/sdkmanager --licenses

      - name: Compute ccache cache key
        id: compute-ccache-key
        run: |
          set -x

          ccache_key='${{ hashFiles('**/*.gradle.kts', 'gradle-plugin/**/*.kt', '3rdparty/openssl/patches/*', '3rdparty/qt/patches/*') }}'

          for git_dir in 3rdparty/openssl/openssl 3rdparty/qt/qtbase; do
            ccache_key+="$(git -C "$git_dir" show -s --format=%H)"
          done

          ccache_key+="$(rpm -q gcc)"

          ndk_clang="$(find android-sdk/ndk -xtype f -name clang)"
          for compiler in gcc $ndk_clang; do
            ccache_key+="$("$compiler" --version)"
            ccache_key+="$(stat --printf='mtime=%Y, size=%s' "$(which "$compiler")")"
          done

          ccache_key="$(echo ccache_key | sha256sum | head -c 64)"
          echo "::set-output name=ccache-key::$ccache_key"

      - name: Restore ccache directory from cache
        uses: equeim/cache@v2-altered
        with:
          path: .ccache
          key: ccache-${{ runner.os }}-${{ steps.compute-ccache-key.outputs.ccache-key }}
          restore-keys: ccache-${{ runner.os }}-
          save-cache: ${{ github.event_name == 'push' }}

      - name: Build the app
        uses: gradle/gradle-build-action@v2
        with:
          arguments: --info -P org.equeim.tremotesf.ccache=true build
          cache-read-only: ${{ github.event_name != 'push' }}
        env:
          ANDROID_SDK_ROOT: ${{ github.workspace }}/android-sdk
          CCACHE_BASEDIR: ${{ github.workspace }}
          CCACHE_DIR: ${{ github.workspace }}/.ccache
          CCACHE_COMPRESS: true
          CCACHE_COMPRESSLEVEL: 3
          CCACHE_MAXSIZE: 1G

      - name: Remove old NDK versions
        if: always()
        run: |
          old_versions=$(./android-sdk/cmdline-tools/latest/bin/sdkmanager --list_installed | grep ndk | tr -s ' ' | cut -d ' ' -f2 | sort -n | head -n -1)
          for version in $old_versions; do
            echo "Removing $version"
            ./android-sdk/cmdline-tools/latest/bin/sdkmanager --uninstall "$version"
          done

      - name: Archive debug APKs
        uses: actions/upload-artifact@v2
        with:
          name: debug-apks
          path: app/build/outputs/apk/*/debug/*.apk

      - name: Archive test and lint reports
        uses: actions/upload-artifact@v2
        with:
          name: reports
          path: |
            app/build/reports/*
            billing/build/reports/*
            common/build/reports/*
            libtremotesf/build/reports/*
            rpc/build/reports/*
            torrentfile/build/reports/*
